*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    position: relative;
    z-index: -2;
}
.container{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}
hr{
    height: 10px;
    background-color: #ffffff;
}
span{
    display: block;
    width: 80px;
    border: 2px solid rgb(255, 0, 0);
    margin:10px 47% ;
}
h1{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
::after{
    content: "";
    border-radius: 30px;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 1;
    transition: 1s;
}
.view , .view-back{
    width: 100%;
    background-color: #868686;
}
/* ///////////////   header   /////////// */
.header{
    width: 100%;
    height: 55px;
    margin: 2px 0;
    position: fixed;
    top: 0;
    z-index: 7;
    background-color: #242424;
    border: 1px solid rgb(255, 255, 255);
    border-radius:10px;
}
.header ul .header-input{
    position: relative;
    margin-top: -5px;
}
.i-margin{
    font-size: 24px;
    padding-top: 5px;
}
.input-overload{
    position: absolute;
    font-size:20px;
    margin: 5px 15px;
    color: #c50202;
}
.header .left{
    float: left;
    margin-left: 20px;
    font-size: 25px;
    line-height: 50px;
    color: #ffffff;
}
.header .left .header-input input{
    height: 30px;
    width: 250px;
    border-radius: 20px;
    padding-left: 50px;
    font-size: 25px;
}
.header li {
    list-style: none;
    font-size: 20px;
    line-height: 55px;
    display: inline-block ;
    margin-left: 20px;
    padding-top: 3px;
}
.header li a{
    color: rgb(255, 255, 255);
}
.header .right{
    float: right;
    margin-right: 20px;
    margin-top: -5px;
}
.header .home-fixed{
    visibility: visible;
    width: 100%;
}
.header-hidden{
    position: absolute;
    background-color: #c8c8c8;
    border-radius: 25px;
    width: 180px;
    display: none;
    border: 5px solid rgb(0, 0, 0);
    color: #d44b01;
}
.list-item-hidden{
    color: #ac3d01;
}
.header-opacity{
    opacity: .8;
}
li:hover  .header-hidden{
    display: block;
    padding-bottom: 10px;
}
.header-width , .list-item-hidden div{
    visibility: hidden;
    width:0;
    margin-top: -20px;
    border: 2px solid  rgb(255, 0, 0);
    border-radius: 3px;
    margin-top: -15px;
}
.header li:hover .header-width , .list-item-hidden:hover div {
    width: 100%;
    visibility: visible;
    transition: .5s;
}
.header-hidden div{
    border: 2px solid black;
}
/* ////////   home   ////// */
.home-section{
    position: relative;
    height: 80vh;
    width: 90%;
    margin: auto;
    background-image: url(../images/ad_personam_slide_01.webp);
    background-size: 90% 110%;
    border-radius: 50px;
    border: 7px solid rgb(255, 255, 255)
}
.home-view{
    padding:90px 0;
    background-color: #242424;
}
.home-overlay{
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color:  rgba(0, 0, 0, .5);
}
.home-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-60%);
    text-align: center;
}
.home-text h1{
    font-size: 50px;
    color:rgb(254, 254, 254);
}
.home-text p{
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 10px;
    color: rgb(216, 216, 216);
}
.home-btn{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
}
.home-btn2{
    height: 50px;
    background-color:rgb(195, 0, 0);
    color: white;
}
.home-btn:hover{
    opacity: .6;
}
/* //////////   portfolio   //////////// */
.portfolio-parent{
    margin-left: 7% ;
    overflow: auto;
}
.portfolio-section{
    padding: 10px 0 50px 0;
}
.portfolio-item{
    width: 25%;
    float: left;
    padding: 20px 20px;
    margin-top: 100px;
    text-align: center;
    border: 7px solid rgb(255, 255, 255);
    position: relative;
    border-radius: 35px;
    background-color: #242424;}
.portfolio-item::after{
    position: absolute;
    background-color: #6b0801;
}
.portfolio-item:hover:after{
    width: 100%;
    height: 100%;
}
.portfolio-content{
    position: relative;
    z-index: 2;
}
.portfolio-margin{
    margin: 100px 7.5% 0;
}
.portfolio-item i{
    font-size:40px;
    color:#ffffff;
    padding-bottom: 20px;
}
.portfolio-item h2{
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 20px;
    color: #ffffff;
}
.portfolio-item p{
    font-size: 18px;
    color: rgb(228, 228, 228);
    padding-bottom: 20px;
    line-height: 30px;
}
.portfolio-item a{
    text-decoration: none;
    font-size: 25px;
    padding-bottom: 20px;
    color:#ff0000;
}
.portfolio-item a:hover{
    color: grey;
}
.portfolio-item:hover h2{
    color:white;
    font-size:2px;
    padding-bottom: 20px;
} 
.portfolio-item:hover a , .portfolio-item:hover i{
    color: #cacaca;
    transition: 1s;
}
.portfolio-item:hover p{
    color: rgb(255, 255, 255);
    transition: .7s;
}
/* //////////   technical   ////////// */
.technical-section span{
    margin-bottom: 50px;
    color: #6b0303;
}
.technical-items{
    overflow: auto;
}
.technical-item{
    width: 27.5%;
    background-color: #242424;
    float: left;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 35px;
    padding: 25px 20px;
    position: relative;
    text-align: center;
    margin: 50px 0;
}
.technical-margin{
    margin:50px 8.75%;
}
.technical-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    border-radius: 30px;
    padding-top: 15px;
    opacity: 0;
}
.technical-item:hover .technical-text{
    transition:.5s;
    opacity: 1;
    background-color: #000000c2;
}
.technical-text i{
    color: #ffffff;
    font-size: 40px;
    visibility: hidden;
    padding:0 15px;
}
.technical-item:hover .technical-text i{
    visibility: visible;
    transition: .7s;
}
.technical-item:hover .technical-text h2{
    visibility: visible;
    transition: .7s;
}
.technical-text h2{
    font-size: 30px;
    color: #ffffff;
    margin: 25px 20px;
    visibility: hidden;
}
/* //////////   offer   ///////// */
.offer-section{
    overflow: auto;
}
.offer-parent{
    width: 30%;
    height: 27%;
    border-radius: 37px;
    border: 7px solid rgb(255, 255, 255);
    float: left;
    position: relative;
    margin-top: 70px;
    background-color: #242424;
}
.offer-parent2{
    margin:70px 5% 0 5%;
}
.offer-parent5 , .offer-parent4 , .offer-parent6{
    margin-top: 70px;
    margin-bottom: 70px;
}
.offer-parent::after{
    position: absolute;
    background-color: #ffffffdd;
}
.offer-parent:hover:after{
    width: 100%;
    height: 100%;
    opacity: .7;
}
.offer-child{
    position: absolute;
    top: 5%;
    left: 4%;
    height: 90%;
    width: 92%;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
}
.offer-child:hover{
    opacity: .7;
}
.offer-child i{
    margin: 0px 25px 20px 5px;
    float: left;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.offer-parent:hover .offer-child i{
    color: #fefefe;
}
.offer-child h2{
    color:  #ff0000;
    font-size: 30px;
    padding-bottom: 20px;
}
.offer-child p{
    width: 90%;
    margin-left: 10%;
    line-height: 25px;
    color: rgb(255, 255, 255);
}
/* //////////    about   //////////////////////////////// */
.about-section h1{
    margin-left: -30%;
}
.about-section{
    background-color: #868686;
}
.about-section span{
    margin-left: 33%;
    border: 3px solid rgb(89, 0, 0);
}
.about-parent{
    position: relative;
}
.about-image{
    position: absolute;
    width: 50%;
    right: 0%;
}
.about-image img{
    width: 80%;
    height: 450px;
    margin:20px 35px;   
}
.about-image i{
    float: right;
    margin:45% 0 25px 0px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.about-image i:hover{
    color:  #c30101;
}
.about-info{
    width: 40%;
    padding-top:5%;
}
.about-info h2{
    font-size: 30px;
    padding-bottom: 30px;
}
.about-info p{
    padding-bottom:10px;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: white;
}
.about-circle{
    height: 40px;
    width: 40px;
    border: 3px solid #9c0606;
    border-radius: 50%;
    color: #9c0606;
    font-size: 30px;
    text-align: center;
    margin-left: 150px;
    float: left;
    margin:0px 10px;
}
.about-circle i{
    margin-left: 5px;
}
.about-floor{
    width: 40%;
    margin-left: 40%;
    padding-bottom: 100px;
}
.about-floor div{
    float: left;
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #9c0606;
}
.about-floor div li{
    margin-left: 10px;
    cursor: pointer;
}
.about-margin{
    margin: 0 10px;
}
.about-floor li:hover{
    margin-left: -1px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    list-style: none;
    border: 3px solid  #9c0606;
    transition: .2s;
}
.about-floor div .about-fixed{
    margin-left: -1px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    list-style: none;
    border: 3px solid  #9c0606 ;
}
.about-floor p{
    font-size: 25px;
    padding:3px 0 0 30px;
    float: left;
    color: rgb(0, 0, 0);
}
.about-floor p a{
    text-decoration: none;
    color:  #9c0606;
}
/* ////////////   services   //////////// */
.services-section{
    background-color: #242424;
    padding: 100px 0;
}
.services-view{
    background-image:url(../images/Lamborghini-Aventador-Ultimae.jpg);
    background-size:100% 100%;
    background-attachment: fixed;
    height: 55%;
    position: relative;
    border-radius:50px;
    width: 80%;
    margin-left: 10%;
    border: 7px solid white;
}
.services-overlay{
    position: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.595);
    border-radius: 50px;
}
.services-content{
    width: 80%;
    margin:100px auto;
    overflow: auto;
}
.services-item{
    float: left;
    width: 20%;
    margin: 30px 2.5%;
    text-align:center;
}
.services-text{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(172, 172, 172);
    margin:auto ;
    border: 2px solid red;
    font-size: 30px;
    color:#646161;
    margin-bottom: 7px;
}
.services-float h2{
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 30px;
}
.services-float p{
    color: rgb(219, 54, 4);
    font-size: 20px;
}
.services-text i{
    line-height: 70px;
}
/* ////////   pricing-section   //////// */
.pricing-section{
    background-color: #868686;
    overflow: auto; 
}
.pricing-content{
    position: relative;
    float: left;
    height: 65%;
    border-radius: 30px;
    background-color: #434343;
    width: 30%;
    margin-top: 7%;
    text-align: center;
    border: 7px solid rgb(255, 255, 255);
}
.pricing-content-margin{
    margin: 7% 5%;
}
.pricing-content::after{
    position: absolute;
    background-color: #630101dc;
    opacity: 0;
    height: 50px;
    width: 100%;
}
.pricing-content:hover::after{
    height: 100%;
    width: 100%;
    opacity: .8;
}
.pricing-item{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 18px;
}
.pricing-item:hover .price-overlay{
    visibility: visible;
    transition: .7s;
    opacity: 1;
}
.pricing-item > h2{
    margin-bottom: 15px;
    font-size: 30px;
    color: rgb(224, 0, 0);
}
.pricing-circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color:rgb(167, 167, 167);
    margin:15px  auto;
    padding-top: 5px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(157, 1, 1);
}
.pricing-circle:hover h2{
    display: none;
}
.pricing-circle h2{
    font-size: 50px;
}
.pricing-circle p{
    display: none;
}
.pricing-circle:hover p{
    font-size: 23px;
    padding-top: 20px;
    display: block;
    color: rgb(114, 74, 0);
}
.pricing-item a ~ p{
    font-size: 25px;
    color: #d8d8d8;
    line-height: 35px;
    letter-spacing: 2px;
}
.price-info{
    font-size: 23px;
    color: #ffffff;
    display: inline;
    line-height: 35px;
    font-weight: bold;
}
.pricing-item > a{
    color:rgb(216, 135, 3);
    font-size: 23px;
    padding-right: 10px 60px;
    margin-left: 10px;
}
.pricing-item > button{
    display: block;
    margin:5px auto 0;
    height: 35px;
    border-radius: 10px;
    width: 200px;
    font-size: 18px;
    background-color: rgb(209, 109, 3);
    color: #ffffff;
    cursor: pointer;
    border: 0;
    text-transform: capitalize;
    font-weight: bold;
}
/* /////////////   about-team   /////////////// */
.about-team-section{
    background-color: #2a2a2a;
    padding: 100px 0;
}
.about-team-view{
    position: relative;
    height: 55%;
    background-image:url(../images/ad_personam_slide_02.webp);
    background-size: 80% 100%;
    background-position: left;
    background-attachment: fixed;
    border-radius:50px;
    width: 80%;
    margin:0 10%;
    border: 7px solid white;
}
.about-team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(0, 0, 0, .7);
}
.about-team-content{
    overflow: auto;
    margin: 7% auto;
    width: 80%;
}
.about-team-item{
    float: left;
    width: 40%;
    margin-left: 10%;
}
.about-team-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgb(201, 0, 0);
    background-color: aliceblue;
    float: left;
    margin: 40px 30px 0 0;
}
.about-team-circle1{
    background-image:url(../images/dad7be8b666ac8850fcccfa97261bfef.jpg) ;
    background-size: cover;
}
.about-team-circle2{
    background-image: url(../images/fc73f069a0d7a64ef17e411a3a6f8023.jpg);
    background-size: cover;
}
.about-team-item h2{
    color: rgba(180, 180, 180, 0.819);
    padding: 60px 0 5px 50px ;
}
.about-team-item a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(197, 0, 0) ;
}
.about-team-item p{
    color:white;
    margin: 40px 30px;    
    line-height: 25px;
}
/* /////////   team-section   /////////////// */
.team-section{
    overflow: auto;
}
.team-item{
    width: 30%;
    float: left;
    margin: 9% 0;
    padding: 30px 20px 20px;
    border: 5px solid rgb(255, 255, 255); 
    position: relative; 
    background-color: #242424;
    border-radius: 35px;
    text-align: center;
}
.team-margin{
    margin:9% 5% ;
}
.team-item::after{
    position: absolute;
    background: rgb(0, 0, 0);
}
.team-item:hover:after{
    height: 100%;
    width:100% ;
    opacity: .4;
}
.team-image{
    position: relative;
    border-radius: 25px;
}
.team-image img{
    border-radius: 25px;
    border: 5px solid rgb(195, 191, 191);
}
.team-overlay{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 7.4%;
    background-color:rgba(0, 0, 0, .4);
    height: 100%;
    width: 85%;
    line-height: 50%;
    display: none;
    border-radius: 25px;
}
.team-overlay a{
    display: block;
    width: 60px;
    height: 50px;
    margin-left: auto;
    background-color: rgb(50, 50, 50);
    color:rgb(221, 0, 0);
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.705);
}
.team-overlay a i{
    line-height: 50px;
}
.team-item:hover .team-overlay{
    display: block;
}
.team-text{
    padding-top: 10px;
    position: relative;
    z-index: 2;
}
.team-text h2{
    color: rgb(185, 184, 184);
    font-size: 25px;
    padding-bottom: 5px;
    transition: .5s;
}
.team-text p{
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 20px;
    transition: .5s;
}
.team-item:hover p{
    color:rgb(255, 0, 0);
}
/* /////////////////   news   ///////////////////// */
.view-news{
    background-color: #868686;
}
.view-news span{
    margin-bottom: 50px;
    border: 3px solid rgb(145, 0, 0);
}
.news-items{
    overflow: auto;
}
.news-item{
    margin-top: 40px;
    margin-bottom: 70px;
    position: relative;
    width: 30%;
    float: left;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 35px;
    text-align: center;
    background-color: #242424;
}
.news-item::after{
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    transition: .5s;
    width: 100%;
}
.news-item:hover::after{
    height: 100%;
}
.news-overlay{
    transition: .5s;
    position: relative;
    z-index: 2;
}
.news-margin{
    margin: 20px 5%;
}
.news-image{
    font-size: 15px;
    padding-top: 25px;
}
.news-image img{
    height:30%; 
    width:80%; 
    border-radius: 35px;
    border:5px solid #ffffff;
}
.news-item:hover img, .news-item:hover {
    border: 5px solid black;
}
.news-image ul{
    padding-top:10px;
    margin-left: 15px;
}
.news-image li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.news-image li p{
    display: inline;
    padding-left:5px;
}
.news-image li a , .news-image li p , .news-para h2 , .news-para p , .news-para a , .news-image img , .news-item{
    transition: .7s;
}
.news-para{
    padding: 20px;
}
.news-para h2{
    padding-bottom: 15px;
    font-size: 30px;
}
.news-para p{
    line-height: 25px;
    padding-bottom: 25px;
}
.news-para a{
    text-decoration: none;
    font-size: 25px;
}
.news-item p , .news-item li p{
    color: rgb(255, 255, 255);
}
.news-item:hover p , .news-item:hover li p{
    color: #646161;
}
.news-item  i ,  .news-item h2 , .news-item a{
    color: #ff0000;
}
.news-item:hover  i  , .news-item:hover a , .news-item:hover h2{
    color: rgb(0, 0, 0);
}
/* ///   foot-section   /// */
.footer-viewer{
    height: 50vh;
    position: relative; 
    z-index: -2;
    padding-left:27%;
    background-color: #242424;
}
.footer-view{
    width: 100vh;
    height: 50vh;
    text-align: center;
    padding-top: 50px;
    position: fixed;
    bottom: 0;
} 
.footer-img{
    position: relative;
    border-radius: 30px;
    width:250px;
    height:150px;
    margin: auto;
    outline: 5px solid rgb(223, 223, 223);
}
.footer-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, .4);
    border-radius: 30px;
}
.footer-a{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    border: 3px;
    background-color:#ffffff;
    outline: 5px solid rgb(137, 137, 137);
    margin: 5px;
}
.footer-a-con{
    height: 60px;
    width: 450px;
    margin:20px auto;
    overflow: auto;
}
.footer-a a{
    font-size: 25px; 
}
.footer-a a i{
    color:#ea0505 ;
    line-height: 50px;
}
.footer-view p{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
}
.foot-a12{
    margin-left: 20px;
}
.footer-a:hover{
    cursor: pointer;
    background-color:#595959;
}