*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    position: relative;
    z-index: -2;
}
.container{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}
span{
    display: block;
    width: 80px;
    border: 2px solid rgb(255, 255, 255);
    margin:10px 47% ;
}
h1{
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
::after{
    content: "";
    border-radius: 30px;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 1;
    transition: 1s;
}
.view , .view-back{
    width: 100%;
    background-color: #000845;
}
/* ///////////////   header   /////////// */
.header{
    width: 100%;
    height: 55px;
    margin: 2px 0;
    position: fixed;
    top: 0;
    z-index: 7;
    background-color:  #000845;
    border: 1px solid rgb(255, 255, 255);
    border-radius:10px;
}
.header ul .header-input{
    position: relative;
    margin-top: -5px;
}
.i-margin{
    font-size: 24px;
    padding-top: 5px;
}
.input-overload{
    position: absolute;
    font-size:20px;
    margin: 5px 15px;
    color: #000000;
}
.header .left{
    float: left;
    margin-left: 20px;
    font-size: 25px;
    line-height: 50px;
    color: #ffffff;
}
.header .left .header-input input{
    height: 30px;
    width: 250px;
    border-radius: 20px;
    padding-left: 50px;
    font-size: 25px;
}
.header li {
    list-style: none;
    font-size: 20px;
    line-height: 55px;
    display: inline-block ;
    margin-left: 20px;
    padding-top: 3px;
}
.header li a{
    color: rgb(255, 255, 255);
}
.header .right{
    float: right;
    margin-right: 20px;
    margin-top: -5px;
}
.header .home-fixed{
    visibility: visible;
    width: 100%;
}
.header-hidden{
    position: absolute;
    background-color:#3c4375;
    border-radius: 25px;
    width: 180px;
    display: none;
    border: 5px solid rgb(247, 246, 246);
    color:white;
}
.header-opacity{
    opacity: .8;
}
li:hover  .header-hidden{
    display: block;
    padding-bottom: 10px;
}
.header-width , .list-item-hidden div{
    visibility: hidden;
    width:0;
    margin-top: -20px;
    border: 2px solid  rgb(255, 255, 255);
    border-radius: 3px;
    margin-top: -15px;
}
.header li:hover .header-width , .list-item-hidden:hover div {
    width: 100%;
    visibility: visible;
    transition: .5s;
}
/* ////////   home   ////// */
.home-section{
    position: relative;
    height: 80vh;
    width: 90%;
    margin:0 auto -20px;
    background-image: url(../images/ad_personam_slide_01.webp);
    background-size: 90% 110%;
    border-radius: 50px;
    border: 7px solid rgb(255, 255, 255)
}
.home-view{
    padding:80px 0 0;
}
.home-overlay{
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color:  rgba(0, 0, 0, .5);
}
.home-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-60%);
    text-align: center;
}
.home-text h1{
    font-size: 50px;
    color:rgb(254, 254, 254);
}
.home-text p{
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 10px;
    color: rgb(216, 216, 216);
}
.home-btn{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid rgb(37, 37, 37);
}
.home-btn2{
    height: 50px;
    background-color: #000845;
    color: white;
    border: 2px solid white;
}
.home-btn:hover{
    opacity: .6;
}
/* //////////   portfolio   //////////// */
.portfolio-parent{
    margin-left: 8% ;
    overflow: auto;
}
.portfolio-item{
    width: 25%;
    float: left;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border: 7px solid rgb(255, 255, 255);
    position: relative;
    border-radius: 35px;
    background-color: rgb(188, 188, 188);
}
.portfolio-item::after{
    position: absolute;
    background-color: #3c4375;
}
.portfolio-item:hover:after{
    width: 100%;
    height: 100%;
}
.portfolio-content{
    position: relative;
    z-index: 2;
}
.portfolio-margin{
    margin: 20px 7.5% 0;
}
.portfolio-item i{
    font-size:40px;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
}
.portfolio-item h2{
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 20px;
    color:  #000845;
}
.portfolio-item p{
    font-size: 18px;
    color: rgb(72, 72, 72);
    padding-bottom: 20px;
    line-height: 30px;
}
.portfolio-item a{
    text-decoration: none;
    font-size: 25px;
    padding-bottom: 20px;
    color:#000000;
}
.portfolio-item a:hover{
    color: grey;
}
.portfolio-item:hover h2{
    color:white;
    font-size:2px;
    padding-bottom: 20px;
} 
.portfolio-item:hover a , .portfolio-item:hover i{
    color: #cacaca;
    transition: 1s;
}
.portfolio-item:hover p{
    color: rgb(255, 255, 255);
    transition: .7s;
}
/* //////////   technical   ////////// */
.technical-section{
    margin-top: -20px;
}
.technical-items{
    overflow: auto;
}
.technical-item{
    width: 27.5%;
    background-color: rgb(188, 188, 188);
    float: left;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 35px;
    padding: 25px 20px;
    position: relative;
    text-align: center;
    margin:20px 0;
}
.technical-margin{
    margin:20px 4.75%;
}
.technical-first-margin{
    margin-left: 4%;
}
.technical-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    border-radius: 30px;
    padding-top: 15px;
    opacity: 0;
}
.technical-item:hover .technical-text{
    transition:.5s;
    opacity: 1;
    background-color: #000000c2;
}
.technical-text i{
    color: #ffffff;
    font-size: 40px;
    visibility: hidden;
    padding:0 15px;
}
.technical-item:hover .technical-text i{
    visibility: visible;
    transition: .7s;
}
.technical-item:hover .technical-text h2{
    visibility: visible;
    transition: .7s;
}
.technical-text h2{
    font-size: 30px;
    color: #ffffff;
    margin: 25px 20px;
    visibility: hidden;
}
/* //////////   offer   ///////// */
.offer-section{
    overflow: auto;
    margin-top: -30px;
}
.offer-parent{
    width: 30%;
    height: 27%;
    border-radius: 37px;
    border: 7px solid rgb(255, 255, 255);
    float: left;
    position: relative;
    margin-top: 20px;
    background-color: rgb(188, 188, 188);
}
.offer-parent2{
    margin:20px 5% 0 5%;
}
.offer-parent5 , .offer-parent4 , .offer-parent6{
    margin-top: 40px;
    margin-bottom: 40px;
}
.offer-parent::after{
    position: absolute;
    background-color: #3c4375;
}
.offer-parent:hover:after{
    width: 100%;
    height: 100%;
    opacity: .7;
}
.offer-child{
    position: absolute;
    top: 5%;
    left: 4%;
    height: 90%;
    width: 92%;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
}
.offer-child:hover{
    opacity: .7;
}
.offer-child i{
    margin: 0px 25px 20px 5px;
    float: left;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.offer-parent:hover .offer-child i{
    color: #000000;
}
.offer-child h2{
    color:  #000845;
    font-size: 30px;
    padding-bottom: 20px;
}
.offer-child p{
    width: 90%;
    margin-left: 10%;
    line-height: 25px;
    color: rgb(72, 72, 72);
}
/* //////////    about   //////////////////////////////// */
.about-section{
    background-color: rgb(188, 188, 188) ;
}
.about-section h1{
    margin:0px 0 0 -30%;
    padding-top: 20px;
    color: #000000;
}
.about-section .about-span{
    margin-left: 33%;
}
.about-parent{
    position: relative;
}
.about-image{
    position: absolute;
    width: 50%;
    right: 0%;
}
.about-image img{
    width: 80%;
    height: 450px;
    margin:20px 35px;   
}
.about-image i{
    float: right;
    margin:45% 0 25px 0px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.about-image i:hover{
    color:  #000000;
}
.about-info{
    width: 40%;
    padding-top:5%;
}
.about-info h2{
    font-size: 30px;
    padding-bottom: 30px;
    color: #202020;
}
.about-info p{
    padding-bottom:10px;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: white;
}
.about-circle{
    height: 40px;
    width: 40px;
    border: 3px solid #000000;
    border-radius: 50%;
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-left: 150px;
    float: left;
    margin:0px 10px;
}
.about-circle i{
    margin-left: 5px;
}
.about-floor{
    width: 40%;
    margin-left: 40%;
    padding-bottom: 70px;
}
.about-floor div{
    float: left;
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #000000;
}
.about-floor div li{
    margin-left: 10px;
    cursor: pointer;
}
.about-margin{
    margin: 0 10px;
}
.about-floor li:hover{
    margin-left: -1px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    list-style: none;
    border: 3px solid  #000000;
    transition: .2s;
}
.about-floor div .about-fixed{
    margin-left: -1px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    list-style: none;
    border: 3px solid  #000000 ;
}
.about-floor p{
    font-size: 25px;
    padding:3px 0 0 30px;
    float: left;
    color: rgb(255, 255, 255);
}
.about-floor p a{
    text-decoration: none;
    color:  #000000;
}
/* ////////////   services   //////////// */
.services-section{
    background-color: rgb(188, 188, 188);
    padding:0 0 40px 0;
}
.services-view{
    background-image:url(../images/Lamborghini-Aventador-Ultimae.jpg);
    background-size:100% 100%;
    background-attachment: fixed;
    height: 55%;
    position: relative;
    border-radius:50px;
    width: 80%;
    margin-left: 10%;
    border: 7px solid white;
}
.services-overlay{
    position: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.595);
    border-radius: 50px;
}
.services-content{
    width: 80%;
    margin: 100px auto;
    overflow: auto;
}
.services-item{
    float: left;
    width: 20%;
    margin: 30px 2.5%;
    text-align:center;
}
.services-text{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(192, 192, 192);
    margin:auto ;
    border: 2px solid rgb(255, 255, 255);
    font-size: 30px;
    color:#646161;
    margin-bottom: 7px;
}
.services-float h2{
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 30px;
}
.services-float p{
    color: rgb(154, 152, 152);
    font-size: 20px;
}
.services-text i{
    line-height: 70px;
}
/* ////////   pricing-section   //////// */
.pricing-section{
    overflow: auto; 
}
.pricing-content{
    position: relative;
    float: left;
    height: 65%;
    border-radius: 30px;
    background-color: rgb(188, 188, 188);
    width: 30%;
    margin-top: 40px;
    text-align: center;
    border: 7px solid rgb(255, 255, 255);
}
.pricing-content-margin{
    margin: 40px 5%;
}
.pricing-content::after{
    position: absolute;
    background-color: #3c4375;
    opacity: 0;
    height: 50px;
    width: 100%;
}
.pricing-content:hover::after{
    height: 100%;
    width: 100%;
    opacity: .8;
}
.pricing-item{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 18px;
}
.pricing-item:hover .price-overlay{
    visibility: visible;
    transition: .7s;
    opacity: 1;
}
.pricing-item > h2{
    margin-bottom: 15px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.pricing-circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color:rgb(255, 255, 255);
    margin:15px  auto;
    padding-top: 5px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.pricing-circle:hover h2{
    display: none;
}
.pricing-circle h2{
    font-size: 50px;
}
.pricing-item:hover h2 , .pricing-item:hover p{
    color: #cacaca ;
}
.pricing-circle p{
    display: none;
}
.pricing-circle:hover p{
    font-size: 23px;
    padding-top: 20px;
    display: block;
    color: rgb(61, 61, 61)
}
.pricing-item a ~ p{
    font-size: 25px;
    color: #000000;
    line-height: 35px;
    letter-spacing: 2px;
}
.price-info{
    font-size: 23px;
    color: #414141;
    display: inline;
    line-height: 35px;
    font-weight: bold;
}
.pricing-item:hover .price-info{
    color: white;
}
.pricing-item > a{
    color:rgb(23, 31, 104);
    font-size: 23px;
    padding-right: 10px 60px;
    margin-left: 10px;
}
.pricing-item > button{
    display: block;
    margin:5px auto 0;
    height: 35px;
    border-radius: 10px;
    width: 200px;
    font-size: 18px;
    background-color: rgb(0, 6, 77);
    color: #ffffff;
    cursor: pointer;
    border: 0;
    text-transform: capitalize;
    font-weight: bold;
}
/* /////////////   about-team   /////////////// */
.about-team-section{
    background-color: #000845;
    padding:0 0 40px 0;
}
.about-team-view{
    position: relative;
    height: 55%;
    background-image:url(../images/temerario.webp);
    background-size: 100% 100%;
    background-position: left;
    background-attachment: fixed;
    border-radius:50px;
    width: 80%;
    margin:0 10%;
    border: 7px solid white;
}
.about-team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(0, 0, 0, .5);
}
.about-team-content{
    overflow: auto;
    margin: 7% auto;
    width: 80%;
}
.about-team-item{
    float: left;
    width: 40%;
    margin-left: 10%;
}
.about-team-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgb(0, 23, 201);
    background-color: aliceblue;
    float: left;
    margin: 40px 30px 0 0;
}
.about-team-circle1{
    background-image:url(../images/dad7be8b666ac8850fcccfa97261bfef.jpg) ;
    background-size: cover;
}
.about-team-circle2{
    background-image: url(../images/fc73f069a0d7a64ef17e411a3a6f8023.jpg);
    background-size: cover;
}
.about-team-item h2{
    color: rgba(180, 180, 180, 0.819);
    padding: 60px 0 5px 50px ;
}
.about-team-item a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(6, 22, 255) ;
}
.about-team-item p{
    color:white;
    margin: 40px 30px;    
    line-height: 25px;
}
/* /////////   team-section   /////////////// */
.team-section{
    overflow: auto;
    background-color: rgb(188, 188, 188);
}
.team-section h1{
    color: #000000;
}
.team-item{
    width: 30%;
    float: left;
    margin: 20px 0;
    padding: 30px 20px 20px;
    border: 5px solid rgb(255, 255, 255); 
    position: relative; 
    background-color: #3c4375;
    border-radius: 35px;
    text-align: center;
}
.team-margin{
    margin:20px 5% ;
}
.team-item::after{
    position: absolute;
    background: rgb(0, 0, 0);
}
.team-item:hover:after{
    height: 100%;
    width:100% ;
    opacity: .4;
}
.team-image{
    position: relative;
    border-radius: 25px;
}
.team-image img{
    border-radius: 25px;
    border: 5px solid rgb(0, 0, 0);
}
.team-overlay{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 7.4%;
    background-color:rgba(0, 0, 0, .4);
    height: 100%;
    width: 85%;
    line-height: 50%;
    display: none;
    border-radius: 25px;
}
.team-overlay a{
    display: block;
    width: 60px;
    height: 50px;
    margin-left: auto;
    background-color: #3c4375;
    color:rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
}
.team-overlay a i{
    line-height: 50px;
}
.team-item:hover .team-overlay{
    display: block;
}
.team-text{
    padding-top: 10px;
    position: relative;
    z-index: 2;
}
.team-text h2{
    color: rgb(185, 184, 184);
    font-size: 25px;
    padding-bottom: 5px;
    transition: .5s;
}
.team-text p{
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 20px;
    transition: .5s;
}
.team-item:hover p{
    color:rgb(43, 0, 255);
}
/* /////////////////   news   ///////////////////// */
.view-news{
    background-color: rgb(188, 188, 188);
    margin-top: -40px;
}
.view-news h1{
    color: #000000;
}
.view-news span{
    margin-bottom: 20px;
    border: 3px solid rgb(255, 255, 255);
}
.news-items{
    overflow: auto;
}
.news-item{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    width: 30%;
    float: left;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 35px;
    text-align: center;
    background-color: #3c4375;
}
.news-item::after{
    position: absolute;
    z-index: 1;
    background-color: rgb(156, 156, 156);
    transition: .5s;
    width: 100%;
}
.news-item:hover::after{
    height: 100%;
}
.news-overlay{
    transition: .5s;
    position: relative;
    z-index: 2;
}
.news-margin{
    margin: 20px 5%;
}
.news-image{
    font-size: 15px;
    padding-top: 25px;
}
.news-image img{
    height:30%; 
    width:80%; 
    border-radius: 35px;
    border:5px solid #ffffff;
}
.news-image ul{
    padding-top:10px;
    margin-left: 15px;
}
.news-image li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.news-image li p{
    display: inline;
    padding-left:5px;
}
.news-image li a , .news-image li p , .news-para h2 , .news-para p , .news-para a , .news-image img , .news-item{
    transition: .7s;
}
.news-para{
    padding: 20px;
}
.news-para h2{
    padding-bottom: 15px;
    font-size: 30px;
}
.news-para p{
    line-height: 25px;
    padding-bottom: 25px;
}
.news-para a{
    text-decoration: none;
    font-size: 25px;
}
.news-item p , .news-item li p{
    color: rgb(255, 255, 255);
}
.news-item  i ,  .news-item h2 , .news-item a{
    color: #a1a1a1;
}
.news-item:hover  i  , .news-item:hover a , .news-item:hover h2{
    color: rgb(2, 1, 60);
}
/* ///   foot-section   /// */
.footer-viewer{
    height: 50vh;
    position: relative; 
    z-index: -2;
    padding-left:27%;
    background-color: #000845;
}
.footer-view{
    width: 100vh;
    height: 50vh;
    text-align: center;
    padding-top: 50px;
    position: fixed;
    bottom: 0;
} 
.footer-img{
    position: relative;
    border-radius: 30px;
    width:250px;
    height:150px;
    margin: auto;
    outline: 5px solid rgb(223, 223, 223);
}
.footer-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.252);
    border-radius: 30px;
}
.footer-a{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    border: 3px;
    background-color:#ffffff;
    outline: 5px solid rgb(137, 137, 137);
    margin: 5px;
}
.footer-a-con{
    height: 60px;
    width: 450px;
    margin:20px auto;
    overflow: auto;
}
.footer-a a{
    font-size: 25px; 
}
.footer-a a i{
    color:#090041 ;
    line-height: 50px;
}
.footer-view p{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
}
.foot-a12{
    margin-left: 20px;
}
.footer-a:hover{
    cursor: pointer;
    background-color:#dfdfdf;
}